body {
	background-color: lightgray;
}

h1, h2, h3 {
	text-align: center;
}

#wrapper {-
	width: 80%;
	margin: auto;
	background-color: lightblue;
	box-shadow: 2px 2px;
}

div {
	width: 90%;
	margin: auto;
}

.itembox {
	border-style: solid;
	border-radius: 15px;
	box-shadow: 2px 2px;
	background-color: lightgoldenrodyellow;
	color: blue;
	padding: 15px 20px 10px 20px;
}

.favorite {
	border-style: dashed;
	border-radius: 15px;
	box-shadow: 2px 2px;
	background-color: goldenrod;
	color: navy;
	padding: 15px 20px 10px 20px;
}

ul, ol {
	background-color: lightcoral;
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: lower-alpha;
}

li a {
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
	background-color: #111;
}